@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Mengubah tampilan bawaan scrollbar browser menjadi lebih elegan */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Bikin scrollbar jadi lebih ramping */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Membuat jalur putih jeleknya jadi tembus pandang */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d99738; /* Warna emas/oranye agar senada dengan tema Buku Kas */
  border-radius: 10px; /* Bikin ujung scrollbar membulat halus */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #b57a26; /* Warna saat scrollbar ditahan/diklik */
}